.dropdownScroll::-webkit-scrollbar {
    width: 6px;
}

.dropdownScroll::-webkit-scrollbar-track {
    background: #1f2937;
    border-radius: 3px;
}

.dropdownScroll::-webkit-scrollbar-thumb {
    background: #ec4899;
    border-radius: 3px;
}

.dropdownScroll::-webkit-scrollbar-thumb:hover {
    background: #f472b6;
}